<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Write a program that adds a new class to a div element on the page when the user clicks a
button. -->
<div id="divele"></div>
<button id="btn">add class</button>
    <script>
let btn=document.getElementById('btn')
btn.addEventListener('click',()=>{
let divele=document.getElementById('divele')
divele.classList.add("newdivele")
})
    </script>
</body>
</html>