<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p id="para">hi spandana</p>
    </div>
    <button id="btn">change text</button>
    <script>
        // Write a program that changes the text of a paragraph element on the page 
        // to "Hello, World!" using JavaScript
let btn=document.getElementById("btn")
btn.addEventListener('click',()=>{
let para=document.getElementById("para");
para.innerHTML="hello world"
})



    </script>
</body>
</html>