<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #changecolor {
            width: 200px;
            height: 300px;
            background-color: green;
             }
    </style>
</head>

<body>
    <div id="changecolor" >
        hello
    </div>
    <button onClick=handlechange()>change color</button>
    <script>
const handlechange=()=>{
   const chagecolordiv=document.getElementById("changecolor")
   chagecolordiv.style.backgroundColor="blue";
   
}
    </script>
</body>

</html>