body {
  /* background-color:; */
}
.remotecontrol {
  width: 280px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.973);
  box-shadow: -1px -2px 7px rgba(0, 0, 0, 0.826);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.powerbutton {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* padding: 0 15px; */
  width: 90%;
}
.power img {
  width: 30px;
  height: 30px;
  background-color: rgba(83, 81, 81, 0.433);
  border-radius: 50%;
  padding: 5px;
}
.mute img {
  width: 30px;
  color: white;
  background-color: rgba(83, 81, 81, 0.433);
  padding: 5px;
  border-radius: 50%;
}
.disTv{
  margin: 15px 10px;
  position:relative;

}
.ztelugu{
  /* opacity: .4; */
  width: 95.5%;
  position: absolute;
 left: 6px;
 top: 2px;
 padding: 1px;
 scale: 1.01;
  
}
.homesec {
  width: 90%;
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rebeccapurple; */
  /* padding:  0 15px; */
}
.homesec div {
  text-align: center;
  width: 40px;
  padding: 8px;
  height: 40px;
  background-color: rgba(58, 57, 57, 0.469);

  border-radius: 50%;

  /* width:50px; */
  /* color: white; */
  /* background-color: rgba(128, 124, 124, 0.519); */
  /* padding: 10px; */
  /* border-radius: 50%; */
}
.volumemenu {
  width: 90%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  
  /* padding: 15px; */
}

.channel {
  text-align: center;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  width: 50px;
  height: 100px;
  background-color: rgba(58, 57, 57, 0.469);
  border-radius: 30px;
  padding: 10px;
}
.keyboard ,.more{
    padding: 5px;
    height: 80px;
     
}

.name {
  font-size: 8px;
}
.volumemenu .keyboard,.more{
   width: 60px; 
   text-align: center;
   display: flex;
   flex-direction: column;
 
   justify-content: center;
   align-items: center;
 
   height: 80px;
   background-color: rgba(58, 57, 57, 0.469);
   border-radius: 30px;
   padding: 10px;
   
}
.controllers{
  display: flex;
  justify-content: center;
  align-items: center;
  width:140px;
  height: 150px;
  background-color: rgba(58, 57, 57, 0.469);
  /* background-color: pink; */

border-radius: 50%;
  
}
.controllers .lr{
  width: 100%;
  display: flex;
  /* background-color: orange; */
  
  
  justify-content:space-between;
  align-items: center;
}
.lr .ok{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  /* background-color: rgba(58, 57, 57, 0.469); */
  
  height: 40px;
  border-radius: 50%;
  /* text-align: center; */
  font-size: 10px;
  background-color: rgba(58, 57, 57, 0.469);

  
}
.controllers .tb{
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* background-color: blueviolet; */
  position: relative;
  right:56px;
}

