<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <script>
       function revsen(){
        let sentence="i like my daughter";
        let splitw=sentence.split(' ')
       rev= splitw.reverse();
       const result=rev.join(' ')
       console.log(result.length)
       for(let i=result.length-1; i>=0;i--){
        var finalresult ="";
        finalresult+=result[i];
        
console.log(finalresult)
       }


    }
    revsen()
   </script> 
</body>
</html>